{
    "openapi": "3.0.1",
    "info": {
        "title": "NetSuite REST Record API",
        "description": "NetSuite REST Record API generated 2022-02-23 at 04:52:52 UTC for account 5256042_SB1, user tabitha.cooley.temp@lighthouselabservices.com with role Lighthouse Lab Services - Integrations - Non SAML.",
        "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
        "contact": {
            "name": "Oracle NetSuite",
            "url": "http://www.netsuite.com",
            "email": "info@netsuite.com"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://5256042-sb1.suitetalk.api.netsuite.com/services/rest/record/v1"
        }
    ],
    "security": [
        {
            "OAuth_1.0_authorization": []
        }
    ],
    "paths": {
        "/customer": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get list of records.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The search query that is used to filter results.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit used to specify the number of results on a single page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset used for selecting a specific page of results.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of records.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=collection": {
                                "schema": {
                                    "$ref": "#/components/schemas/customerCollection"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Insert record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Inserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "expandSubResources",
                        "in": "query",
                        "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "simpleEnumFormat",
                        "in": "query",
                        "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple fields": {
                                "value": "field1,field2"
                            },
                            "single field": {
                                "value": "field"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrived record.",
                        "headers": {
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Insert or update record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "External identifier.",
                        "required": true,
                        "schema": {
                            "pattern": "eid:(.+)",
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "replaceSelectedFields",
                        "in": "query",
                        "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Upserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customer"
                ],
                "summary": "Remove record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Removed record."
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "replaceSelectedFields",
                        "in": "query",
                        "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Updated record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/cashSale": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to cashSale.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/invoice": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to invoice.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/salesOrder": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to salesOrder.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The sublists not specified here will have lines added to the record. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "nsResourceCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/nsResource"
                        }
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    }
                }
            },
            "nsResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "title": "Internal identifier",
                        "type": "string"
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "externalId": {
                        "title": "External identifier",
                        "type": "string"
                    },
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    }
                }
            },
            "customer-itemPricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-itemPricingElement"
                        }
                    }
                }
            },
            "nsError": {
                "type": "object",
                "properties": {
                    "type": {
                        "title": "Type",
                        "type": "string",
                        "description": "A URI reference to the documentation about the problem type.",
                        "format": "URI",
                        "readOnly": true
                    },
                    "title": {
                        "title": "Title",
                        "type": "string",
                        "description": "A human-readable description of the problem type.",
                        "readOnly": true
                    },
                    "status": {
                        "title": "Status",
                        "type": "integer",
                        "description": "The HTTP status code generated by the server the request originates from.",
                        "format": "int32",
                        "readOnly": true
                    },
                    "o:errorDetails": {
                        "type": "array",
                        "description": "An array containing one or more problem types.",
                        "readOnly": true,
                        "items": {
                            "type": "object",
                            "properties": {
                                "detail": {
                                    "title": "Detail",
                                    "type": "string",
                                    "description": "A detailed, human-readable description of the problem occurrence.",
                                    "readOnly": true
                                },
                                "o:errorPath": {
                                    "title": "Error Path",
                                    "type": "string",
                                    "description": "The JSON path that indicates where the problem occurs within the request body.",
                                    "format": "JSONPath",
                                    "readOnly": true
                                },
                                "o:errorUrl": {
                                    "title": "Error URL",
                                    "type": "string",
                                    "description": "The URI of the first element in the request URL where the problem occurs.",
                                    "format": "URI",
                                    "readOnly": true
                                },
                                "o:errorHeader": {
                                    "title": "Error Header",
                                    "type": "string",
                                    "description": "The name of the HTTP header where the problem occurs.",
                                    "readOnly": true
                                },
                                "o:errorQueryParam": {
                                    "title": "Error Query Parameter",
                                    "type": "string",
                                    "description": "The name of the query parameter where the problem occurs.",
                                    "readOnly": true
                                },
                                "o:errorCode": {
                                    "title": "Error Code",
                                    "type": "string",
                                    "description": "The application-specific error code. Similar problem types are grouped together.",
                                    "readOnly": true
                                }
                            }
                        }
                    }
                }
            },
            "customer-currencyListCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-currencyListElement"
                        }
                    }
                }
            },
            "nsLink": {
                "type": "object",
                "properties": {
                    "rel": {
                        "title": "Relationship",
                        "type": "string",
                        "readOnly": true
                    },
                    "href": {
                        "title": "Hypertext Reference",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "customer-groupPricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-groupPricingElement"
                        }
                    }
                }
            },
            "customer-contactRolesElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "giveAccess": {
                        "title": "Access",
                        "type": "boolean"
                    },
                    "contactName": {
                        "title": "Contact",
                        "type": "string",
                        "nullable": true
                    },
                    "password": {
                        "title": "Password",
                        "type": "string",
                        "nullable": true
                    },
                    "passwordConfirm": {
                        "title": "Confirm Password",
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "title": "Email",
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "role": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/nsResource"
                    }
                },
                "x-ns-filterable": []
            },
            "customer-groupPricingElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "group": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "level": {
                        "$ref": "#/components/schemas/nsResource"
                    }
                },
                "x-ns-filterable": []
            },
            "customer-addressBookElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "internalId": {
                        "title": "Internal ID",
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "defaultBilling": {
                        "title": "Default Billing",
                        "type": "boolean"
                    },
                    "addressBookAddress_text": {
                        "title": "Address",
                        "type": "string",
                        "nullable": true
                    },
                    "defaultShipping": {
                        "title": "Default Shipping",
                        "type": "boolean"
                    },
                    "isResidential": {
                        "title": "Residential Address",
                        "type": "boolean"
                    },
                    "label": {
                        "title": "Label",
                        "type": "string",
                        "nullable": true
                    },
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "addressId": {
                        "title": "Internal ID",
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "addressBookAddress": {
                        "$ref": "#/components/schemas/customer-addressBook-addressBookAddress"
                    }
                },
                "x-ns-filterable": []
            },
            "customer-itemPricingElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "price": {
                        "title": "Unit Price",
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "currency": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "level": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "item": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        ]
                    }
                },
                "x-ns-filterable": []
            },
            "customer-addressBook-addressBookAddress": {
                "type": "object",
                "properties": {
                    "zip": {
                        "title": "Zip",
                        "type": "string",
                        "nullable": true
                    },
                    "country": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "title": "Internal identifier",
                                "type": "string",
                                "enum": [
                                    "PR",
                                    "PS",
                                    "PT",
                                    "PW",
                                    "PY",
                                    "QA",
                                    "AD",
                                    "AE",
                                    "AF",
                                    "AG",
                                    "AI",
                                    "AL",
                                    "AM",
                                    "AN",
                                    "AO",
                                    "AQ",
                                    "AR",
                                    "AS",
                                    "RE",
                                    "AT",
                                    "AU",
                                    "AW",
                                    "AX",
                                    "AZ",
                                    "RO",
                                    "BA",
                                    "BB",
                                    "RS",
                                    "BD",
                                    "RU",
                                    "BE",
                                    "BF",
                                    "BG",
                                    "RW",
                                    "BH",
                                    "BI",
                                    "BJ",
                                    "BL",
                                    "BM",
                                    "BN",
                                    "BO",
                                    "SA",
                                    "BQ",
                                    "SB",
                                    "BR",
                                    "SC",
                                    "SD",
                                    "BS",
                                    "BT",
                                    "SE",
                                    "BV",
                                    "SG",
                                    "SH",
                                    "BW",
                                    "SI",
                                    "SJ",
                                    "BY",
                                    "BZ",
                                    "SK",
                                    "SL",
                                    "SM",
                                    "SN",
                                    "SO",
                                    "CA",
                                    "SR",
                                    "CC",
                                    "SS",
                                    "CD",
                                    "ST",
                                    "CF",
                                    "SV",
                                    "CG",
                                    "CH",
                                    "SX",
                                    "SY",
                                    "CI",
                                    "SZ",
                                    "CK",
                                    "CL",
                                    "CM",
                                    "CN",
                                    "CO",
                                    "TC",
                                    "CR",
                                    "TD",
                                    "CS",
                                    "TF",
                                    "CU",
                                    "CV",
                                    "TG",
                                    "CW",
                                    "TH",
                                    "CX",
                                    "TJ",
                                    "CY",
                                    "TK",
                                    "CZ",
                                    "TL",
                                    "TM",
                                    "TN",
                                    "TO",
                                    "TR",
                                    "TT",
                                    "DE",
                                    "TV",
                                    "TW",
                                    "TZ",
                                    "DJ",
                                    "DK",
                                    "DM",
                                    "DO",
                                    "UA",
                                    "UG",
                                    "DZ",
                                    "UM",
                                    "EA",
                                    "US",
                                    "EC",
                                    "EE",
                                    "EG",
                                    "EH",
                                    "UY",
                                    "UZ",
                                    "VA",
                                    "VC",
                                    "ER",
                                    "ES",
                                    "VE",
                                    "ET",
                                    "VG",
                                    "VI",
                                    "VN",
                                    "VU",
                                    "FI",
                                    "FJ",
                                    "FK",
                                    "FM",
                                    "FO",
                                    "FR",
                                    "WF",
                                    "GA",
                                    "GB",
                                    "WS",
                                    "GD",
                                    "GE",
                                    "GF",
                                    "GG",
                                    "GH",
                                    "GI",
                                    "GL",
                                    "GM",
                                    "GN",
                                    "GP",
                                    "GQ",
                                    "GR",
                                    "GS",
                                    "GT",
                                    "GU",
                                    "GW",
                                    "GY",
                                    "XK",
                                    "HK",
                                    "HM",
                                    "HN",
                                    "HR",
                                    "YE",
                                    "HT",
                                    "HU",
                                    "IC",
                                    "ID",
                                    "YT",
                                    "IE",
                                    "IL",
                                    "IM",
                                    "IN",
                                    "IO",
                                    "ZA",
                                    "IQ",
                                    "IR",
                                    "IS",
                                    "IT",
                                    "ZM",
                                    "JE",
                                    "ZW",
                                    "JM",
                                    "JO",
                                    "JP",
                                    "KE",
                                    "KG",
                                    "KH",
                                    "KI",
                                    "KM",
                                    "KN",
                                    "KP",
                                    "KR",
                                    "KW",
                                    "KY",
                                    "KZ",
                                    "LA",
                                    "LB",
                                    "LC",
                                    "LI",
                                    "LK",
                                    "LR",
                                    "LS",
                                    "LT",
                                    "LU",
                                    "LV",
                                    "LY",
                                    "MA",
                                    "MC",
                                    "MD",
                                    "ME",
                                    "MF",
                                    "MG",
                                    "MH",
                                    "MK",
                                    "ML",
                                    "MM",
                                    "MN",
                                    "MO",
                                    "MP",
                                    "MQ",
                                    "MR",
                                    "MS",
                                    "MT",
                                    "MU",
                                    "MV",
                                    "MW",
                                    "MX",
                                    "MY",
                                    "MZ",
                                    "NA",
                                    "NC",
                                    "NE",
                                    "NF",
                                    "NG",
                                    "NI",
                                    "NL",
                                    "NO",
                                    "NP",
                                    "NR",
                                    "NU",
                                    "NZ",
                                    "OM",
                                    "PA",
                                    "PE",
                                    "PF",
                                    "PG",
                                    "PH",
                                    "PK",
                                    "PL",
                                    "PM",
                                    "PN"
                                ]
                            },
                            "refName": {
                                "title": "Reference Name",
                                "type": "string"
                            }
                        }
                    },
                    "addr2": {
                        "title": "Address 2",
                        "type": "string",
                        "nullable": true
                    },
                    "custrecord_celigo_shopify_store": {
                        "title": "Shopify store",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "city": {
                        "title": "City",
                        "type": "string",
                        "nullable": true
                    },
                    "addr1": {
                        "title": "Address 1",
                        "type": "string",
                        "nullable": true
                    },
                    "lastModifiedDate": {
                        "title": "Last Modified Date",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "addr3": {
                        "title": "Address 3",
                        "type": "string",
                        "nullable": true
                    },
                    "externalId": {
                        "title": "External ID",
                        "type": "string",
                        "nullable": true
                    },
                    "addrPhone": {
                        "title": "Phone",
                        "type": "string",
                        "nullable": true
                    },
                    "addressee": {
                        "title": "Addressee",
                        "type": "string",
                        "nullable": true
                    },
                    "attention": {
                        "title": "Attention",
                        "type": "string",
                        "nullable": true
                    },
                    "custrecord_celigo_etail_address_id": {
                        "title": "eTail Address Id",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "override": {
                        "title": "Override",
                        "type": "boolean"
                    },
                    "state": {
                        "title": "State/Province",
                        "type": "string",
                        "nullable": true
                    },
                    "addrText": {
                        "title": "Address",
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    }
                },
                "x-ns-filterable": []
            },
            "customer": {
                "type": "object",
                "properties": {
                    "custentity_dic": {
                        "title": "DIC",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "emailTransactions": {
                        "title": "Email Transactions",
                        "type": "boolean",
                        "description": "Set a preferred transaction delivery method for this customer. Choose to send transactions by regular mail, by email, by fax, or by a combination of the three. Then, when you select the customer on a transaction, their preferred delivery method is marked by default. * Email – Check this box to check the To Be Emailed box by default on transactions when this customer is selected. * Print – Check this box to check the To Be Printed box by default on transactions when this customer is selected. * Fax – Check this box to check the To Be Faxed box by default on transactions when this customer is selected. Once you enter these settings on the customer record, these boxes are checked by default for transactions created from the customer record or for transactions that are copied or converted. Note: These settings override any customized settings on transaction forms you use. There are also preferences to set default values for new customer records at Setup &gt; Company &gt; Preferences &gt; Printing, Fax,&amp; Email Preferences. On the Print subtab, Fax subtab, or Email subtab, check Customers Default to [Print/Fax/Email] Transactions. You can also set these fields using the Mass Update function. Go to Lists &gt; Mass Updates &gt; Mass Updates &gt; General and click Customer."
                    },
                    "custentitywebform_lead_id_number": {
                        "title": "Webform Lead ID Number",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "startDate": {
                        "title": "Start Date",
                        "type": "string",
                        "description": "Enter the date this person or company became a customer, lead or prospect. If this person or company has a contract with you, enter the start date of the contract. If you enter an estimate or an opportunity for this customer, this field will be updated with the date of that transaction.",
                        "format": "date",
                        "nullable": true
                    },
                    "lastSaleDate": {
                        "title": "Last Sales Date",
                        "type": "string",
                        "description": "Returns the date of the last sale to the customer.",
                        "format": "date",
                        "nullable": true
                    },
                    "thirdPartyCountry": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "title": "Internal identifier",
                                "type": "string",
                                "enum": [
                                    "PR",
                                    "PS",
                                    "PT",
                                    "PW",
                                    "PY",
                                    "QA",
                                    "AD",
                                    "AE",
                                    "AF",
                                    "AG",
                                    "AI",
                                    "AL",
                                    "AM",
                                    "AN",
                                    "AO",
                                    "AQ",
                                    "AR",
                                    "AS",
                                    "RE",
                                    "AT",
                                    "AU",
                                    "AW",
                                    "AX",
                                    "AZ",
                                    "RO",
                                    "BA",
                                    "BB",
                                    "RS",
                                    "BD",
                                    "RU",
                                    "BE",
                                    "BF",
                                    "BG",
                                    "RW",
                                    "BH",
                                    "BI",
                                    "BJ",
                                    "BL",
                                    "BM",
                                    "BN",
                                    "BO",
                                    "SA",
                                    "BQ",
                                    "SB",
                                    "BR",
                                    "SC",
                                    "SD",
                                    "BS",
                                    "BT",
                                    "SE",
                                    "BV",
                                    "SG",
                                    "SH",
                                    "BW",
                                    "SI",
                                    "SJ",
                                    "BY",
                                    "BZ",
                                    "SK",
                                    "SL",
                                    "SM",
                                    "SN",
                                    "SO",
                                    "CA",
                                    "SR",
                                    "CC",
                                    "SS",
                                    "CD",
                                    "ST",
                                    "CF",
                                    "SV",
                                    "CG",
                                    "CH",
                                    "SX",
                                    "SY",
                                    "CI",
                                    "SZ",
                                    "CK",
                                    "CL",
                                    "CM",
                                    "CN",
                                    "CO",
                                    "TC",
                                    "CR",
                                    "TD",
                                    "CS",
                                    "TF",
                                    "CU",
                                    "CV",
                                    "TG",
                                    "CW",
                                    "TH",
                                    "CX",
                                    "TJ",
                                    "CY",
                                    "TK",
                                    "CZ",
                                    "TL",
                                    "TM",
                                    "TN",
                                    "TO",
                                    "TR",
                                    "TT",
                                    "DE",
                                    "TV",
                                    "TW",
                                    "TZ",
                                    "DJ",
                                    "DK",
                                    "DM",
                                    "DO",
                                    "UA",
                                    "UG",
                                    "DZ",
                                    "UM",
                                    "EA",
                                    "US",
                                    "EC",
                                    "EE",
                                    "EG",
                                    "EH",
                                    "UY",
                                    "UZ",
                                    "VA",
                                    "VC",
                                    "ER",
                                    "ES",
                                    "VE",
                                    "ET",
                                    "VG",
                                    "VI",
                                    "VN",
                                    "VU",
                                    "FI",
                                    "FJ",
                                    "FK",
                                    "FM",
                                    "FO",
                                    "FR",
                                    "WF",
                                    "GA",
                                    "GB",
                                    "WS",
                                    "GD",
                                    "GE",
                                    "GF",
                                    "GG",
                                    "GH",
                                    "GI",
                                    "GL",
                                    "GM",
                                    "GN",
                                    "GP",
                                    "GQ",
                                    "GR",
                                    "GS",
                                    "GT",
                                    "GU",
                                    "GW",
                                    "GY",
                                    "XK",
                                    "HK",
                                    "HM",
                                    "HN",
                                    "HR",
                                    "YE",
                                    "HT",
                                    "HU",
                                    "IC",
                                    "ID",
                                    "YT",
                                    "IE",
                                    "IL",
                                    "IM",
                                    "IN",
                                    "IO",
                                    "ZA",
                                    "IQ",
                                    "IR",
                                    "IS",
                                    "IT",
                                    "ZM",
                                    "JE",
                                    "ZW",
                                    "JM",
                                    "JO",
                                    "JP",
                                    "KE",
                                    "KG",
                                    "KH",
                                    "KI",
                                    "KM",
                                    "KN",
                                    "KP",
                                    "KR",
                                    "KW",
                                    "KY",
                                    "KZ",
                                    "LA",
                                    "LB",
                                    "LC",
                                    "LI",
                                    "LK",
                                    "LR",
                                    "LS",
                                    "LT",
                                    "LU",
                                    "LV",
                                    "LY",
                                    "MA",
                                    "MC",
                                    "MD",
                                    "ME",
                                    "MF",
                                    "MG",
                                    "MH",
                                    "MK",
                                    "ML",
                                    "MM",
                                    "MN",
                                    "MO",
                                    "MP",
                                    "MQ",
                                    "MR",
                                    "MS",
                                    "MT",
                                    "MU",
                                    "MV",
                                    "MW",
                                    "MX",
                                    "MY",
                                    "MZ",
                                    "NA",
                                    "NC",
                                    "NE",
                                    "NF",
                                    "NG",
                                    "NI",
                                    "NL",
                                    "NO",
                                    "NP",
                                    "NR",
                                    "NU",
                                    "NZ",
                                    "OM",
                                    "PA",
                                    "PE",
                                    "PF",
                                    "PG",
                                    "PH",
                                    "PK",
                                    "PL",
                                    "PM",
                                    "PN"
                                ]
                            },
                            "refName": {
                                "title": "Reference Name",
                                "type": "string"
                            }
                        }
                    },
                    "password": {
                        "title": "Password",
                        "type": "string",
                        "description": "Assign a password to give this customer access to NetSuite. The Password Criteria fields will ensure that you create a password that meets the password policy in effect in your account. You will need to tell the user the password you assign. For more information, see the help topic NetSuite Password Requirements.",
                        "nullable": true
                    },
                    "balance": {
                        "title": "Balance",
                        "type": "number",
                        "description": "The customer&apos;s current accounts receivable balance due appears here. If you use the Multiple Currencies feature, the amount in this field is shown in the customer&apos;s currency.",
                        "format": "double",
                        "nullable": true
                    },
                    "printOnCheckAs": {
                        "title": "Print on Check As",
                        "type": "string",
                        "description": "What you enter here prints on the Pay to the Order of line of a check instead of what you entered in the Customer field.",
                        "nullable": true
                    },
                    "custentity4": {
                        "title": "Email #3",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "custentity5": {
                        "title": "Meeting Notes",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "id": {
                        "title": "Internal ID",
                        "type": "string",
                        "description": "The internal ID for this record is shown here. If you do not want to show internal IDs, clear the Show Internal IDs box at Home &gt; Set Preferences.",
                        "nullable": true
                    },
                    "custentity3": {
                        "title": "Alt. Email",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "fax": {
                        "title": "Fax",
                        "type": "string",
                        "description": "Enter a fax number for this record. You should enter the fax number exactly as it must be dialed. If a &apos;1&apos; is required to fax to this number, be sure to include it at the beginning of the number. The number you enter automatically appears in the To Be Faxed field of transactions when you select this customer. To fax NetSuite forms, an administrator must first set up fax service at Setup &gt; Set Up Printing, Fax and E-mail &gt; Fax.",
                        "nullable": true
                    },
                    "custentity_link_lsa": {
                        "title": "LSA Link",
                        "type": "string",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "thirdPartyZipCode": {
                        "title": "3rd Party Billing Zip",
                        "type": "string",
                        "description": "Enter the zip code associated with the customer’s UPS or FedEx account number.",
                        "nullable": true
                    },
                    "dateCreated": {
                        "title": "Date Created",
                        "type": "string",
                        "description": "In this field, NetSuite automatically records the date you created this record.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "custentity_esc_last_modified_date": {
                        "title": "Last Modified Date",
                        "type": "string",
                        "format": "date",
                        "nullable": true,
                        "x-ns-custom-field": true
                    },
                    "billingTransactionForm": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "title": "Internal identifier",
                                "type": "string",
                                "enum": [
                                    "110",
                                    "111",
                                    "112",
                                    "113",
                                    "114",
                                    "115",
                                    "116",
                                    "117",
                                    "118",
                                    "119",
                                    "10",
                                    "11",
                                    "12",
                                    "13",
                                    "14",
                                    "18",
                                    "120",
                                    "121",
                                    "1",
                                    "122",
                                    "123",
                                    "124",
                                    "125",
                                    "126",
                                    "127",
                                    "128",
                                    "129",
                                    "20",
                                    "21",
                                    "-9907",
                                    "22",
                                    "23",
                                    "-9908",
                                    "-9909",
                                    "24",
                                    "-9903",
                                    "-9904",
                                    "28",
                                    "-9905",
                                    "-9906",
                                    "130",
                                    "131",
                                    "132",
                                    "133",
                                    "134",
                                    "135",
                                    "136",
                                    "137",
                                    "138",
                                    "139",
                                    "-9901",
                                    "-9902",
                                    "30",
                                    "-9918",
                                    "-9919",
                                    "35",
                                    "36",
                                    "-9914",
                                    "-9915",
                                    "-9916",
                                    "39",
                                    "-9917",
                                    "140",
                                    "141",
                                    "142",
                                    "143",
                                    "144",
                                    "145",
                                    "146",
                                    "147",
                                    "148",
                                    "149",
                                    "-9910",
                                    "-9911",
                                    "-9912",
                                    "-9913",
                                    "40",
                                    "41",
                                    "44",
                                    "45",
                                    "46",
                                    "47",
                                    "48",
                                    "49",
                                    "150",
                                    "151",
                                    "152",
                                    "153",
                                    "154",
                                    "155",
                                    "157",
                                    "158",
[...]
